

h1 {
    color: white;
    background-color: black
}


p {
    color: rgb(58, 56, 197)
}

u1 {
    color: black;
    font-weight:bold;
    background-color: gray;
}

img {
    max-width: 30%;
    height:auto;
    border-radius: 130px;
    margin:60px;
    
}